In [1]:
import pandas as pd
pip install

In [2]:
pd.__version__

'2.1.3'

In [6]:
df = pd.read_csv("yellow_tripdata_2021-01.csv.gz", nrows=100)

In [13]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [16]:
from sqlalchemy import create_engine

In [20]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [21]:
engine.connect()

In [22]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [26]:
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv.gz", iterator=True, chunksize=100000)

In [27]:
df=next(df_iter)

In [28]:
len(df)

100000

In [29]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [30]:
df.head(n=0).to_sql(name = "yellow_taxi_data", con=engine, if_exists='replace')

0

In [31]:
%time df.to_sql(name = "yellow_taxi_data", con=engine, if_exists='append')

CPU times: user 6.73 s, sys: 123 ms, total: 6.86 s
Wall time: 10.3 s

1000

In [32]:
from time import time

In [33]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 10.413 second
inserted another chunk, took 10.283 second
inserted another chunk, took 10.387 second
inserted another chunk, took 10.850 second
inserted another chunk, took 10.492 second
inserted another chunk, took 10.316 second
inserted another chunk, took 10.361 second
inserted another chunk, took 10.594 second
inserted another chunk, took 10.480 second
inserted another chunk, took 10.628 second
inserted another chunk, took 11.552 second

/tmp/ipykernel_15136/2113580993.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 10.257 second
inserted another chunk, took 6.578 second

StopIteration: